* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* abhijeet's code */
#nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
#logout {
  display: none;
  font-size: 18px;
  color: rgb(225,  107,  98);
  background-color: white;
  padding: 5px 40px;
  border-radius: 20px;
}
.mobile-access-btn {
  display: flex;
  align-items: center;
  width: 20%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  padding: 1.5rem 3rem;
  display: flex;
  background-color: rgb(33, 181, 131);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  width: fit-content;
}

.logo-container:hover {
  opacity: 0.85;
}

.logo-container img {
  width: 15%;
  border: 5px solid rgb(33, 180, 130);
  border-radius: 10px;
  margin-right: 3px;
}

.logo-container span {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
}

.menu {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-around;
  padding: 0 30px;
}

.menu li {
  list-style: none;
  font-size: 1.1rem;
}

.menu li a {
  text-decoration: none;
  color: white;
}

div#nav.access-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.access-btn span a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

#logout p {
  color: white;
}

#join {
  background-color: white;
  color: rgb(33, 180, 130);
  padding: 15px 15px;
  border-radius: 50px;
  width: 100%;
}

.access-btn span:nth-child(3):hover {
  transform: translate(0, 1px);
}

.cancel-btn,
.menu-btn {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 1200px) {
  .menu,
  .access-btn {
    display: none;
  }

  .logo-container img {
    margin-top: 5%;
  }

  nav {
    background-color: white;
    padding: 0.5rem;
  }

  .logo-container span {
    color: #000;
  }

  .menu-btn {
    display: block;
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
  }

  .mobile-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .mobile-menu .menu {
    display: flex;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 0.5rem;
  }

  .mobile-menu .menu li a {
    color: black;
  }

  .mobile-menu .access-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
  }

  .mobile-menu .access-btn span a {
    color: black;
  }

  #join {
    background-color: #00c290;
    color: white;
  }
}
