* {
    margin: 0px;
  }
  #upper_section {
    /* border: 2px solid red; */
    height: 600px;
    display: grid;
    position: relative;
    background-image: url(https://burst.shopifycdn.com/photos/finger-food-and-drinks-on-dark-wood.jpg?width=925&format=pjpg&exif=1&iptc=1);
    background-color: rgb(204, 208, 208);
    background-size: cover;
    align-items: center;
    background-color: #f6f6f6;
  }
  #explore {
    /* color: white; */
    /* font-size: 50px; */
    /* border: 2px solid red; */
    width: 100%;
    margin: auto;
    /* font-weight: bolder; */
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    color: #fff;
    line-height: 60px;
    margin-bottom: 40px;
  }
  #search {
    width: 40%;
    /* border: 2px solid red; */
    margin: 5px auto;
    height: 400px;
    border: none;
    /* line-height: 50px; */
  }
  ::-webkit-input-placeholder {
    text-align: left;
  }
  #search_bar {
    /* position: relative; */
    /* margin-left:500px */
    width: 60%;
    /* text-align: center; */
    height: 50px;
    border-radius: 50px;
    border: none;
    padding: 0 40px 0 40px;
    
    /* border: 2px solid red; */
  }
  #search_panel {
    display: flex;
    margin: 0px;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* border: 2px solid red; */
  }
  /* position: absolute; */
  #search_panel > button {
    /* margin-left: 35rem; */
    width: 20%;
    height: 51px;
    border-radius: 25px;
    background-color: #3177bb;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }
  #search_panel > button:hover {
      transform:scale(0.9);
  transition: ease-in-out 1.5s;
  }
  #para_explore {
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
    line-height: 3rem;
    color: #fff;
    margin-bottom: 1rem;
  }
  #filtering > button {
    border-radius: 20px ;
    border: 1px solid white;
    width: 20%;
    background-color: transparent;
    height: 40px;
    opacity: 80%;
    color: white;
    font-size: 10px;
    font-weight: 800;
  }
  
  #filterByName {
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    color: #6f737a;
    font-size: 20px;
    width: 80%;
    align-items: center;
    margin: auto;
    /* text-decoration: underline; */
    text-align: center;
    margin-top: 20px;
    /* background-color: #F6F6F6; */
  }
  #filterByName > div:nth-child(1) {
    /* border: 2px solid red; */
    /* background-color: white; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 5%;
    padding: 0px;
    height: 30px;
    color: #6f737a;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    transition: background 0.1s ease-out;
    align-items: center;
    border: 1px solid #6f737a;
  }
  #filterByName > div:nth-child(1) img {
    width: 25px;
    background-color: transparent;
  }
  
  
  #header {
    width: 55%;
    height: 60px;
    font-size: 50px;
    font-weight: 900;
    line-height: 48px;
    color: #333;
    margin: 0 24px 24px 0;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 20px;
  }
  
  
  #container {
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 10px;
    /* width: 100%; */
    justify-content: center;
    margin: auto;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    margin-top: 30px;
  }
  
  
  #container > div {
    margin-bottom: 30px;
    width: 95%;
    height: 350px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 20px;
    line-height: 30px;
  }
  
  
  #container > div img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
  }
  
  
  #container > div p,
  h3{
    padding-left: 20px;
    cursor: pointer;
  }
  
  
  #filtering > button:hover {
    background-color: #484242;
    color: rgb(174, 226, 0);
    transition: ease-in 0.5s;
  }
  
  
  #container > div img {
    transform: scale(1);
    display: block;
  }
  
  
  #container > div:hover img {
    transition: ease-in 1s;
    display: block;
    transform: scale(0.9);
  }
  
  
  #filterByName > div:hover {
    cursor: pointer;
    transition: ease-in 0.5s;
    text-decoration: overline;
    color: #2a65cb;
  }
  
  
  
  #filterByName > div:nth-child(1):hover {
    cursor: pointer;
    background-color: #6f737a;
    color: white;
    transition: ease-in 0.5s;
    text-decoration: none;
  }
  
  
  
  @media all and (max-width:1130px){
  #filtering>button{
    display: none;
  }
  }
  
  
  
  @media all and (max-width:720px){
  
    #explore{
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 48px;
    color: #fff;
    line-height: 60px;
    margin-bottom: 40px;
    }
  
  }
  
  
  @media all and (max-width:1038px){
    #container {
      display: grid;
      grid-template-columns: repeat(1,50%);
    }
  #search_button{
    display: none;
  }
  }
  
  
  .flex {
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    height: 50px;
    align-items: center;
    background-color: white;
  }
  
  
  .flex input {
    border: none;
    width: 500px;
    outline: none;
    padding: 0px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  
  .flex>button {
    display: flex;
    border: 1px solid black;
    border-radius: 40px;
    height: 100%;
    width: 240px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
  }
  
  
  #premium {
    display: grid;
    justify-items:center;
    align-items: center;
    position: relative;
    margin: 4% 0;
    background: radial-gradient(ellipse at center,#2dd29a 0,#1ca677 100%);
      overflow: hidden;
      font-family: proxima-nova,Helvetica,Arial,sans-serif;
      margin: auto;
    }
    
  
  #premium>div:nth-child(1) {
    display: grid;
    text-align: center;
    justify-content:center;
    line-height: 40px;
    position: absolute;
    justify-items: center;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 16px;
  }
  
  
  #premium>div:nth-child(2) {
    width: 100%;
    height: 400px;
    background-color: rgb(12, 180, 121);
  }
  
  
  #premium h1 {
    font-size: 35px;
  }
  
  
  #premium button {
    background: #f94642;
    padding: 15px;
    font-size: 20px;
    border: none;
    width: 250px;
    border-radius: 30px;
    color: white;
    margin-top: 5%;
      text-align: center;
      line-height: 1;
  }
  
  
  #premium button:hover {
    background-color: red;
    transform: translate(0, 5px);
  }
  
  
  .easy6 {
    display: flex;
    gap: 0 12px;
    justify-content: center;
    align-items: center;
    margin: 4% 0;
  }
  
  
  .easy6 img {
    width: 50px;
    height: 50px;
  }
  
  
  #footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  
  
  #footer a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 520;
  }
  
  
  #footer a:hover {
    color: rgb(12, 180, 121);
  }
  
  
  #footer1 {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 2% auto;
  }
  
  
  #footer1 div {
    color: rgb(92, 88, 88);
  }
  
  
  #footer1 div:hover {
    font-weight: 100;
    color: rgb(12, 180, 121);
  }
  
  
  hr {
    width: 600px;
    color: rgb(137, 132, 132);
    margin: 0% auto 2% auto;
  }
  
  
  #footer2 {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    margin: auto;
  }
  
  
  #footer2 i {
    border-radius: 50%;
    font-size: 25px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(82, 80, 80);
  }
  
  
  #footer2>a:nth-child(1)>i:hover {
    color: blue;
    transform: translate(0, 5px);
  }
  
  
  #footer2>a:nth-child(2)>i:hover,
  #footer2>a:nth-child(3)>i:hover,
  #footer2>a:nth-child(4)>i:hover {
    color: rgb(246, 56, 65);
    transform: translate(0, 5px);
  }
  
  
  .easy7 {
    width: 60%;
    margin: 3% auto;
    text-align: center;
    font-size: 14px;
  }
  
  
  .easy7>p:nth-child(2) {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 3%;
    color: rgb(104, 101, 101);
  }
  
  
  .easy8 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3% auto;
    border: none;
    border-radius: 50%;
    padding: 3px;
    background-color: rgb(12, 180, 121);
  }
  
  
  .easy8 i {
    width: 100%;
    border: none;
    padding: 20px;
    border-radius: 50%;
    color: white;
  }
  
  
  .easy8 i:hover {
    transform: translate(0, -3px);
  }
  
  
  .Top{
    text-decoration: none;
  }
  
  